<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}"></head>

<body>
	<header th:replace="~{layout/layout :: navbar}"></header>
	<div class="container mt-3">
		<h1 th:text="${cinema.name}"></h1>
	</div>

	<div class="container my-3">
		<div class="row justify-content-center">
			
		<a th:each="arraySess: ${movies}" th:href="@{/movies/}+${arraySess[0].movie.id}" class="col-12 col-lg-4 col-md-6 link-underline link-underline-opacity-0">
			<div class="card mb-3 shadow-sm bg-body-tertiary" style="max-width: 340px;">
				<div class="row g-0">
					<div class="col-4">
						<img th:src="${arraySess[0].movie.img}" class="img-fluid rounded-start shadow-sm"
							th:alt="${arraySess[0].movie.title}">
					</div>
					<div class="col-8">
						<div class="card-body">
							<h5 class="card-title" th:text="${arraySess[0].movie.title}"></h5>
							<p class="card-text">
								<span class="badge bg-secondary me-1" th:each="sess: ${arraySess}"
									th:text="${#temporals.format(sess.sessionDate, 'HH:mm')}"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</a>
		</div>
	</div>
<!--
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Title</th>
					<th>Late Session</th>
					<th>Session Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="billboard: ${cinema.sessions}">
					<td th:text="${billboard.id}"></td>
					<td th:text="${billboard.movie.title}"></td>
					<td th:text="${billboard.lateSession}"></td>
					<td th:text="${billboard.sessionDate}"></td>
				</tr>
			</tbody>

		</table>
	</div>
	-->
	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>
<script th:replace="~{layout/layout :: scriptBootstrap}"></script>

</html>