<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}"></head>

<body>
	<a th:href="@{'/cinemas/list'}">Volver a Cines</a>
	<div class="container">
		<h1 th:text="${title}"></h1>
	</div>

	<div class="container">
		<img th:src="${movie.img}">

	</div>

	<div class="container">
		<div class="container">
			<span th:text="'Año: ' + ${movie.year}"></span>
		</div>
		<div class="container">
			<span th:text="'Director: ' + ${movie.director}"></span>
		</div>
		<div class="container">
			<span th:text="'Clasificacion: ' + ${movie.ageRating}"></span><img th:src="${movie.ageRatingImg}">
		</div>
	</div>

	<div class="container">
		<p th:text="${movie.description}">
	</div>
	<div class="container">
		<p>Cast</p>
		<ul>
			<li th:each="actor: ${movie.cast}" th:text="${actor.name}"></li>
		</ul>
	</div>
	<div class="container">
		<p>Genres</p>
		<ul>
			<li th:each="genre: ${movie.genre}">
				<a th:text="${genre.name}" th:href="@{/genres/}+${genre.id}"></a>
			</li>
		</ul>
	</div>

	<div class="container">
		<p>En los cines:</p>
		<ul>
			<li th:each="cinema : ${cinemas}">
				<a th:text="${cinema.name}" th:href="@{/cinemas/}+${cinema.id}+${'/sessions'}"></a>
			</li>
		</ul>
	</div>

</body>

</html>